<div class="title">
  <h2><%= @post.title %></h2>
</div>

<div class="post-info">
  <%= link_to user_path(@post.user) do %>
    <i class="fa-solid fa-user-pen"><%= @user.name %></i>
  <% end %>
  <p>作成日: <%= @post.created_at.strftime('%Y.%m.%d') %></p>
  <% if @post.user == current_user %>
        <%= link_to "投稿編集", edit_post_path(@post.id), class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to "投稿削除", post_path(@post), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
  <% end %>
</div>

<div class="container">
  <div class="mx-auto row">
    <div class="col-3">
      <div class="post-area">
        <h4>都道府県</h4>
        <p><%= @post.pref %></p>
        <h4>スケジュール</h4>

         <ul class="cbp_tmtimeline">
         <% @post.maps.each do |post| %>
           <li>
             <%= post.address %>
           </li>
         <% end %>
         </ul>
      </div>

      <div>
        <%= render "public/bookmarks/bookmark", post: @post %>
      </div>

      <div class="comment-form">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :body, rows: '3', placeholder: "コメントを入力" %>
          <%= f.submit "コメントする", class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>


      <div class="comment-button">
        <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#comments">コメントを見る</a>
      </div>

      <p>コメント:<%= @post.post_comments.count %>件</p>
        <% @post.post_comments.each do |post_comment| %>
        <div class="comment", id="comments">
          <div class="comment-text">
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
            <%= post_comment.body %>
          </div>

        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
        </div>
        <% end %>
    </div>

    <div class="col-1"></div>

    <div class="col-8">
      <div class="map">
        <div id="map"></div>
      </div>

        <script>
  　　　　　　let map;
          let geocoder;
          let markers = [];

          function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.7828, lng:-73.9653},
            zoom: 11,
            })

            const locations = <%= raw @locations.to_json %>;

            locations.forEach((location) => {
              if (location.latitude && location.longitude) {
                const marker = new google.maps.Marker({
                  position: { lat: location.latitude, lng: location.longitude },
                  map: map,
                  title: location.address
                });

                const infowindow = new google.maps.InfoWindow({
                  content: location.address
                });

                marker.addListener('click', () => {
                  infowindow.open(map, marker);
                });

                markers.push(marker);
              }
            });
            console.log(locations);
            if (locations.length > 0 && locations[0].latitude && locations[0].longitude) {
              map.setCenter({ lat: locations[0].latitude, lng: locations[0].longitude });
            }
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.maps_api_key %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>