<div>
  <%= image_tag @user.get_profile_image(50,50) %>
  <h3><%= @user.name %></h3>
  <% if @user ==current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @posts.each do |post| %>
<div class="container">
  <ul class="card">
    <li class="item">
      <p><%= post.title %></p>
      <%= link_to "詳細", post_path(post.id), class: "btn" %>
    </li>
  </ul>
</div>
<% end %>