<h2>投稿編集</h2>

<%= form_with model: @post do |f| %>

  <h4>都道府県</h4>
  <%= f.text_field :pref %>

  <h4>施設名</h4>
  <%= f.text_field :facility_name %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>スケジュール</h4>
  <%= f.text_area :body %>

  <%= f.submit '保存' %>
<% end %>