<%= image_tag @user.get_profile_image(50,50) %>
<p><%= @user.name %></p>
<p><%= @post.created_at.strftime('%Y.%m.%d') %></p>
<h2><%= @post.title %></h2>

<div>
  <p>都道府県：<%= @post.pref %></p>
  <p>スケジュール</p>
  <p><%= @post.body %></p>
  <% if @post.user == current_user %>
    <%= link_to "投稿編集", edit_post_path(@post.id) %>
    <%= link_to "投稿削除", post_path(@post), method: :delete %>
  <% end %>
</div>