<div class="d-flex align-items-center justify-content-center, flex-column">
  <div class="user-info">
    <div class="img">
      <%= image_tag @user.get_profile_image(200,200) %>
    </div>
    <h2><%= @user.name %></h2>
    <% if @user ==current_user %>
    <% unless @user.guest_user? %>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary" %>
      <% end %>
      <% end %>
      <%= link_to "グループを作る", new_group_path, class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to "グループ一覧", groups_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<%= render 'public/posts/index', posts: @posts %>







